.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.inline-block {
  display: inline-block;
}
.card {
  width: 200px;
  height: 226px;
  background: #e0e0e0;
  margin-left: 3rem;
  margin-top: 3rem;
  background-color: indigo;
}
.image {
  max-width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: mediumpurple;
}
.description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: peru;
}
