html {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #c4c4c4;
}
.block {
  margin-bottom: 50px;
  background-color: #e6e6e6;
}
.last-block {
  background-color: #e6e6e6;
}

.float-left {
  float: left;
  margin-right: 15px;
}
.float-left-small {
  float: left;
  margin-left: 15px;
}
.float-right {
  float: right;
  margin-left: 15px;
}
.clearfix {
  display: block;
  clear: both;
}
.square {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
}
.small-square {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #fc8f8f;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.number-block {
  display: block;
  width: 200px;
  height: 75px;
  margin-top: 63px;
}
.small-number-block {
  display: block;
  width: 100px;
  height: 37.5px;
  margin-top: 31px;
}
